/*Pré definiçoes básicas para os estilos*/

* {
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*defindo a estilização da barra de rolagem*/

::-webkit-scrollbar {
    width: 4px; /* Largura da barra de rolagem */
  }
  
  /* Estilizando a pista (fundo) da barra de rolagem */
  ::-webkit-scrollbar-track {
    background: gray; /* Cor de fundo da pista */
  }
  
  /* Estilizando o polegar (alça) da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background: lightseagreen; /* Cor do polegar */
  }

/*Definido um background para o site, que vai ser mudado de acordo com as interações com o tema*/
body {
    background-color: white;
}

/*Ajustando o modal do menu em telas menores*/
.modalMenu {
    position: fixed;
    background-color: transparent;
    backdrop-filter: blur(5px);
    width: 100%;
    min-height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}

/*estilizando os elemntos 'a' e 'i' do modal*/

.modalMenu a {
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
}
.modalMenu i {
    font-size: 50px;
    margin-top: 20px;
    margin-left: 80%;
    position: absolute;
    cursor: pointer;
}

/*Adicionando o layout grid ao conteiner e definindo uma altura minima*/

.conteiner {
    
    display: grid;
    grid-template-columns: auto 80%;
    grid-template-rows: 15% auto 5%;
    min-height: 100vh;
}

/*Ajustando o cabeçalho*/

header {
    order: 1;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 5px;
    
}

/*Ajustando o tamnho da logo*/

header img {
    width: 120px;
}

/*Personalizando o nav e seus elementos de navegação e icones*/

nav {
    order: 2;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: end;
    color: black;
}

/* Icone de menu para telas menores*/

.icone {
    margin-left: auto;
    display: none;
    margin-right: 30px;
    cursor: pointer;
}
.icone:hover {
    scale: 1.2;
    transition: .3s;
}

/*Ajustando o conteiner que abriga os icones do tema*/

.theme {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.theme i:hover {
    scale: 1.2;     /*para aumentar de tamanho ao passar o mouse*/
    transition: .3s;
}

/*Icone visivel quando o tema é alterado*/

#iconeLua {
    display: none;
}
.custom-size {      /*classe que personaliza o tamanho dos icones*/
    font-size: 25px;
}

/*Parte dos links de navegação*/

.links {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a {          /*ajustando os links*/
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35%;
    position: relative;
}
.links a::after {       /*criando um elemento abaixo de cada link*/
    content: "";
    width: 0%;
    background-color: lightseagreen;
    height: 3px;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: .5s;
}       
.links a:hover::after {     /*quando o mouse passar por um link, o seu elemento criad com o after ira aumentar de tamanho*/
    width: 100%;
}

/*Corpo*/

main {
    order: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

/*Definindo o conteiner que vai abrigar os conteiners e elementos da pagina inicio */

.conteinerInicio {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Div que abriga as informações de texto - titulo e paragrafo do inicio*/

.informacoes {
    width: 50%;
    margin-top: -5%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 20px;
    border-bottom: 1px solid lightseagreen;
    border-left: 1px solid lightseagreen;
}

/*aumenta de tamanho ao passar o mouse*/

.informacoes:hover {
    scale: 1.1;
    border: 1px solid lightseagreen;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
    transition: .3s ease-in-out;
}

/*estilos dos textos que estarao dentro de informações*/

.textTitulo {
    font-size: 35px;
    text-align: justify;

}
.textParagrafo {
    text-align: justify;
    font-size: 18px;
}
.textParagrafo p {
    font-weight: bold;
}

/*texto que tera o efeito de digitação*/

#efeitoDig {
    color: lightseagreen;
}

/*Conteiner que abriga os elementos da parte de contato*/

.faleComigo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    flex-wrap: wrap;
    gap: .5rem;
}

/*botoes de contato*/

.botaoContato {
    padding: 10px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: inherit;
    font-weight: bold;
    margin-right: 3px;
    cursor: pointer;
    border: 1px solid lightseagreen;
}
.botaoContato a {
    text-decoration: none;
}
.botaoContato:hover{
    background-color: lightseagreen;
    transition: .3s ease-in-out;
}

/*Conteiner que abriga os icones das redes sociais*/

.redesSociais {
    display: flex;
    gap: .5rem;
}
.redesSociais a {
    font-size: 23px;
    text-decoration: none;
}
.redesSociais i:hover {
    scale: 1.2;
    transition: .3s;
}    

/*Estilos da parte inferior do site*/

footer {
    order: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: end;    /* Alinha o footer à parte inferior do grid */
    background-color: transparent;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*estrutura de media para dispositivos menores que 851px*/

@media screen and (max-width: 851px) {
    .icone {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .links {
        display: none;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .links a {
        height: 25%;
    }
    header img {
        width: 70px;
    }
    .informacoes {
        width: 60%;
    }
    .textTitulo {
        font-size: 30px;
        text-align: left;
    }
    .textParagrafo {
        font-size: 15px;
        text-align: left;
    }
        
}  

/*estrutura de media para dispositivos menores que 430px*/

@media screen and (max-width: 430px) {
    header img {
        width: 50px;
    }
    .conteinerInicio {
        margin-top: 0%;
    }
    .textTitulo {
        font-size: 17px;
        text-align: left;
    }
    .textParagrafo {
        font-size: 10px;
        text-align: left;
    }
    .icone {
        font-size: 15px;
    }
    .botaoContato {
        margin: 2px;
    }
        
}  