/*Pré definiçoes básicas para os estilos*/

* {
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*defindo a estilização da barra de rolagem*/

::-webkit-scrollbar {
    width: 4px; /* Largura da barra de rolagem */
  }
  
  /* Estilizando a pista (fundo) da barra de rolagem */
  ::-webkit-scrollbar-track {
    background: gray; /* Cor de fundo da pista */
  }
  
  /* Estilizando o polegar (alça) da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background: lightseagreen; /* Cor do polegar */
  }

/*Definido um background para o site, que vai ser mudado de acordo com as interações com o tema*/
body {
    background-color: white;
}

/*Ajustando o modal do menu em telas menores*/
.modalMenu {
    position: fixed;
    background-color: transparent;
    backdrop-filter: blur(5px);
    width: 100%;
    min-height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}

/*estilizando os elemntos 'a' e 'i' do modal*/

.modalMenu a {
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
}
.modalMenu i {
    font-size: 50px;
    margin-top: 20px;
    margin-left: 80%;
    position: absolute;
    cursor: pointer;
}

/*Adicionando o layout grid ao conteiner e definindo uma altura minima*/

.conteiner {
    
    display: grid;
    grid-template-columns: auto 80%;
    grid-template-rows: 20vh auto 5vh;
    min-height: 100vh;
}

/*Ajustando o cabeçalho*/

header {
    order: 1;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 5px;
    
}

/*Ajustando o tamnho da logo*/

header img {
    width: 120px;
}

/*Personalizando o nav e seus elementos de navegação e icones*/

nav {
    order: 2;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: end;
    color: black;
}

/* Icone de menu para telas menores*/

.icone {
    margin-left: auto;
    display: none;
    margin-right: 30px;
    cursor: pointer;
}
.icone:hover {
    scale: 1.2;
    transition: .3s;
}

/*Ajustando o conteiner que abriga os icones do tema*/

.theme {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.theme i:hover {
    scale: 1.2;     /*para aumentar de tamanho ao passar o mouse*/
    transition: .3s;
}

/*Icone visivel quando o tema é alterado*/

#iconeLua {
    display: none;
}
.custom-size {      /*classe que personaliza o tamanho dos icones*/
    font-size: 25px;
}

/*Parte dos links de navegação*/

.links {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a {          /*ajustando os links*/
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35%;
    position: relative;
}
.links a::after {       /*criando um elemento abaixo de cada link*/
    content: "";
    width: 0%;
    background-color: lightseagreen;
    height: 3px;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: .5s;
}       
.links a:hover::after {     /*quando o mouse passar por um link, o seu elemento criad com o after ira aumentar de tamanho*/
    width: 100%;
}

/*Corpo*/

main {
    order: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
}

/*Definindo o conteiner que vai abrigar os conteiners e elementos da pagina inicio */

.conteinerInicio {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Div que abriga as informações de texto - titulo e paragrafo do inicio*/

.informacoes {
    width: 60%;
    margin-top: -5%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 20px;
    border-bottom: 1px solid lightseagreen;
    border-left: 1px solid lightseagreen;
}

/*aumenta de tamanho ao passar o mouse*/

.informacoes:hover {
    scale: 1.1;
    border: 1px solid lightseagreen;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
    transition: .3s ease-in-out;
}

/*estilos dos textos que estarao dentro de informações*/

.textTitulo {
    font-size: 35px;
    text-align: justify;

}
.textParagrafo {
    text-align: justify;
    font-size: 18px;
}
.textParagrafo p {
    font-weight: bold;
}

/*texto que tera o efeito de digitação*/

#efeitoDig {
    color: lightseagreen;
}

/*Conteiner que abriga os elementos da parte de contato*/

.faleComigo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    flex-wrap: wrap;
    gap: .5rem;
}

/*botoes de contato*/

.botaoContato {
    padding: 10px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: inherit;
    font-weight: bold;
    margin-right: 3px;
    cursor: pointer;
    border: 1px solid lightseagreen;
}
.botaoContato a {
    text-decoration: none;
    
}
.botaoContato:hover{
    background-color: lightseagreen;
    transition: .3s ease-in-out;
}

/*Conteiner que abriga os icones das redes sociais*/

.redesSociais {
    padding: 5px;
    display: flex;
    gap: .5rem;
}
.redesSociais a {
    font-size: 23px;
    text-decoration: none;
    color: lightseagreen;
}
.redesSociais i:hover {
    scale: 1.2;
    transition: .3s;
}   

/*Personalização da parte de 'Sobre' do site*/

.conteinerSobre {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
}


/*conteiner que abriga os textos e as imagens da parte do sobre*/

.contentSobre {
    width: 60%;
    margin-top: -10%;
    display: flex;
    gap: 2rem;
    padding: 20px;
    border-bottom: 1px solid lightseagreen;
    border-left: 1px solid lightseagreen;
    margin: 0 auto;
}
.contentSobre:hover {
    scale: 1.1;
    border: 1px solid lightseagreen;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
    transition: .3s ease-in-out;
}

/*Conteiner que abriga a minha imagem*/

.sobreImg {
    display: flex;
    justify-content: center;
    align-items: center;
}
.meImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid lightseagreen;
}

/*Estilização dos Titulos e paragrafos do sobre*/

.textTituloSobre {
    font-size: 35px;
    text-align: justify;
    margin-bottom: 5px;
}
.textParagrafoSobre {
    text-align: justify;
    font-size: 18px;
    text-indent: 10px;
}

/*Personalização da parte de 'Projetos' do site*/

.conteinerProjetos {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 250px;
    margin-bottom: 80px;
}

/*conteiner central da area de projetos*/

.projects {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid lightseagreen;
    border-left: 1px solid lightseagreen;
    padding: 25px;
    gap: 2rem;
}
.projects:hover {
    scale: 1.02;
    border: 1px solid lightseagreen;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
    transition: .3s ease-in-out;
}

/*Conteiner que ira guardar e estilizar os elemntos de cada projeto*/

.meusProjetos {
    display: none;
    flex-direction: column;
    gap: 2rem;
}
#tituloProjetos {
    margin-bottom: 30px;
}
.projeto {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.projeto h2 {
    text-align: justify;
}
.projeto p {
    text-align: justify;
}

/*links de cada projeto*/

.linksProjeto {
    margin: 0 auto;
    display: flex;
    gap: 1rem;
}

/*estilização das imagens usadas em cada projeto*/

.imgProjeto {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
    margin: 0 auto;
}

/*botão que vai abrir e fechar os projetos*/

.btnProjetos {
    padding: 8px;
    border-radius: 15px;
    background-color: inherit;
    border: 1px solid lightseagreen;
    margin: 0 auto;
    font-weight: bold;
}
.btnProjetos:hover {
    background-color: lightseagreen;
    transition: .3s;
    
}
#fecharProjetos {
    display: none;
}

/*Links para fazer a navegação fora da parte inicial do site*/

.linksSegundaNavegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid lightseagreen;
    float: right;
}
.linksSegundaNavegacao a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px 0px 0px 10px;
}
.ativo {
    background-color: lightseagreen;
}

/*Estilos da parte inferior do site*/

footer {
    order: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: end;    /* Alinha o footer à parte inferior do grid */
    background-color: transparent;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: bold;
}


/*estrutura de media para dispositivos menores que 851px*/

@media screen and (max-width: 851px) {
    .conteiner {
        grid-template-rows: 15vh auto 5vh;
    }
    .linksSegundaNavegacao {
        display: none;
    }
    .icone {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .links {
        display: none;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .links a {
        height: 25%;
    }
    header img {
        width: 70px;
    }
    .informacoes {
        width: 60%;
    }
    .textTitulo {
        font-size: 30px;
        text-align: left;
    }
    .textParagrafo {
        font-size: 15px;
        text-align: left;
    }
    .contentSobre {
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 25%;
    }
    .textTituloSobre {
        text-align: justify;
    }
    .textParagrafoSobre {
        text-align: left;
    }
    .meImg {
        width: 150px;
        height: 150px;
    }
    .projects {
        width: 68%;
    }
    .projeto h2 {
        font-size: 18px;
    }
    .projeto p {
        text-align: left;
    }
    .imgProjeto {
        width: 270px;
        height:170px;
    }
        
}  

/*estrutura de media para dispositivos menores que 430px*/

@media screen and (max-width: 430px) {
    .linksSegundaNavegacao {
        display: none;
    }
    .conteiner {
        grid-template-rows: 15vh auto 5vh;
    }
    .informacoes {
        width: 70%;
    }
    header img {
        width: 50px;
    }
    .conteinerInicio {
        margin-top: -10%;
    }
    .textTitulo {
        font-size: 17px;
        text-align: left;
    }
    .textParagrafo {
        font-size: 10px;
        text-align: left;
    }
    .icone {
        font-size: 15px;
    }
    .botaoContato {
        margin: 2px;
    }
    .contentSobre {
        flex-wrap: wrap;
        gap: .5rem;
        width: 70%;
        margin-top: -5%;
    }
    .textTituloSobre {
        text-align: justify;
        font-size: 25px;
    }
    .textParagrafoSobre {
        text-align: left;
        font-size: 15px;
        text-indent: 5px;
    }
    .meImg {
        width: 110px;
        height: 110px;
    }
    .projects {
        width: 80%;
    }
    .projeto h2 {
        font-size: 16px;
    }
    .projeto p {
        text-align: left;
        font-size: 14px;
    }
    .imgProjeto {
        width: 220px;
        height:140px;
    }
        
}  